<html>
   <head>
      <title>output file</title>
   </head>
     <body>
      <div style="background-color: burlywood; border:black solid; border-radius:10px;"><h1 style="color:red">Student Sign Up in Details</h1></div>
      <h2>Firstname:{{firstname1}}</h2>
      <h2>Lastname:{{lastname1}}</h2>
       <h2>Fullname:{{fullname1}}</h2>
      <h2>EmailID:{{EmailID1}}</h2>
      <h2>Mobileno:{{Mobileno1}}</h2>
      <h2>createpassord:{{CreatePassword1}} </h2>
      <h2>Confirmpassword:{{ConfirmPassword1}}</h2>
     <hr>
     </body>
<html>